{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
       <meta charset='UTF-8'>
       <meta http-equiv='X-UA-Compatible' content='IE=edge'>
       <meta name='viewport' content='width=device-width, initial-scale=1.0'>
       <meta name='author' content='Christen Shubaly'>
       <meta name='email' content='christen.shubaly@protonmail.com'>
       <meta name='date' content='2023-11-20'>
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/meyer-reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">

        <link rel="shortcut icon" href="{% static 'img/logo-small.png' %}" type="image/x-icon">
        <title>cancel</title>
</head>
<body>
    <main>
        <h1 id="cancel">Payment Cancelled</h1>
        {% comment %} <p><a href="{% url 'return_to_store' %}">Return to store</a></p> {% endcomment %}
        <p><a href="{% url 'cart' %}">Return to cart</a></p>
    </main>
   
</body>
</html>