[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-admin = "*"
stripe = "*"
django-extensions = "*"
werkzeug = "*"
python-decouple = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
